<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/jannat/githubProjects/batch6/seleniumBatch6Classess">
        <classes>
            <class name="selenium.class6.TestNgTest">
                <methods>
                    <include name="testCases"/>
                    <include name="testCases2"/>
                    <include name="testCases3"/>
                    <include name="loginShouldSucceed"/>
                    <include name="loginShouldFail"/>
                    <include name="validUsernameField"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>